:root {
    --primary-color: #552525;
    --secondary-color: #e59b30;
    --line-color: #e1a600;
}

body {
    font-family: "Arimo", sans-serif;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

#about,
#news,
#acara,
.contact-container {
    margin-inline: 85px;
    margin-top: 100px;
}

#container-jumbotron {
    margin-inline: 85px;
    padding-top: 170px;
}

/* #dokumentasi {
    margin-left: 60px;
} */

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
}

.logo {
    margin-top: 12px;
}

.logo a {
    margin-left: 60px;
}

/* header {
    position: fixed;
    margin-top: -100px;
    z-index: 1000;
} */

.navbar {
    position: fixed;
    z-index: 9999;
}

.navbar-container {
    margin-top: -8px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.navbar-nav a {
    color: black;
    font-size: 20px;
    margin-inline: 10px;
}

.nav-link {
    padding-inline: 15px !important;
}

.navbar-nav a.active {
    background-color: var(--primary-color);
    border-radius: 15px;
    color: white !important;
    font-weight: bold;
}

.logo-container .logo-bsn {
    height: 60px;
}

.logo-container .logo-sniaward {
    height: 70px;
}

.bg-theme {
    position: relative;
    z-index: 1;
}

.bg-theme::after {
    position: absolute;
    left: 0;
    bottom: 50px;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 0 0 60px 60px;
    background: var(--primary-color);
    z-index: -1;
}

#jumbotron h1 {
    color: white;
    font-weight: bold;
    padding-bottom: 60px;
    line-height: 75px;
    font-size: 78px;
}

#jumbotron h1 span {
    color: var(--secondary-color);
}

#jumbotron p {
    margin-top: -30px;
    font-size: 28px;
    color: white;
    line-height: 32px;
}

.card-container {
    margin-top: -50px;
    margin-left: 60px;
}

.card-container .card {
    width: 300px;
    margin-inline: 15px;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    color: black;
}

.card-container .card:hover {
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.card-container .card:hover p {
    color: #fff !important;
    transition: all 0.3s ease;
}

.card-container .card:hover img {
    filter: brightness(0) invert(1);
    transition: all 0.3s ease;
}

.card-container .card img {
    margin-block: 10px;
}

.card-container .card p {
    margin-top: 0 !important;
    color: #2b2b28 !important;
    font-weight: bold;
    font-size: 20px !important;
}

.card img {
    width: 80px;
}

/* About Article */
.about-container {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    align-items: center;
    margin-inline: 222px;
}

.about-container p {
    font-size: 24px;
    margin-top: 60px;
    line-height: 32px;
}

/* berita section */
.artikel-container {
    margin-block: 150px;
}

.artikel-container .content-container .content {
    height: 500px;
}

.artikel-container .content-container .content h2 {
    margin-top: 55px;
    margin-bottom: -25px;
}

.artikel-container .content-container .content img {
    margin-left: 10px;
    width: 598px;
    border-radius: 10px;
    box-shadow: 33px 37px 0px 0px rgba(85, 37, 37, 1);
}

.artikel-container .content-container .content h3 {
    margin-bottom: -50px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 100px;
}

h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

hr {
    margin-top: 0px;
    margin-inline: auto;
    width: 270px;
    color: var(--line-color);
    background-color: var(--line-color);
    height: 5px;
    opacity: 100;
}

.program-bsn {
    border: 1.6px solid #bdbebf;
    height: 34px;
}

.author-container .author-content {
    margin-right: 30px;
}

.author-container .author-content p.hour {
    font-size: 12px;
    color: #949494;
    margin-bottom: 10px;
}

.author-container .author-content p.author {
    font-size: 14px;
}

.author-container .author-content .author a {
    text-decoration: none;
    color: #0339a6;
}

p.description {
    font-size: 18px;
}

.description a {
    text-decoration: none;
    color: #0960e2;
}

.program-bsn p {
    font-size: 8px;
    color: #616161;
    margin-block: 0px;
}

.berita-container {
    width: 395px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.berita-container .content {
    text-align: end;
    margin-inline: 18px;
}

.berita-container .content h4 {
    text-align: start;
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    margin-block: 30px;
}

.berita-container .content p {
    color: #2a2a2a;
    text-align: start;
    font-size: 12px;
}

.berita-container .content button {
    color: #fff;
    background-color: #124c6b;
    margin-bottom: 20px;
    font-weight: 600;
}

/* faq */
.faq-container {
    display: flex;
    align-items: center;
}

.accordion {
    margin-top: -100px;
    background: transparent;
}

h2.accordion-header {
    margin-top: 0px !important;
}

.accordion-item:first-of-type {
    margin-top: 100px;
}

.accordion-item {
    border: 1px solid #e59b30 !important;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px !important;
}

.accordion-item button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

.accordion-body {
    border-radius: 0 0 10px 10px;
    background: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}

.accordion-button {
    font-size: 0.8rem;
    background: transparent;
    outline: none;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    font-weight: 500;
}

.accordion-button:focus {
    box-shadow: none;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.accordion-button:not(.collapsed) {
    background-color: #e59b30 !important;
    border-radius: 10px 10px 0 0 !important;
    color: black;
    box-shadow: none;
}

.accordion-button::after {
    background-image: none;
    content: "\f0d7";
    font-family: fontawesome;
    width: auto;
    height: auto;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

#contact {
    padding-block: 100px;
}

.contact-container {
    margin-block: 150px;
}

.shape-atas {
    background-image: url(../images/shape/bg-shape-atas.png),
        url(../images/shape/bg-shape-bawah.png);
    background-position: top right, bottom left; /* Gambar akan ditempatkan di pojok kanan atas */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
}

.contact-container .row {
    margin-top: 50px;
}

.contact-container hr {
    width: 400px;
    color: var(--line-color);
    background-color: var(--line-color);
    height: 5px;
    opacity: 100;
}

.input-container input {
    height: 57px;
}

.input-container input::placeholder {
    color: black;
    font-size: 20px;
}

.input-container textarea::placeholder {
    color: black;
    font-size: 20px;
}

/* Dokumentasi */
.carousel-container p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.slider {
    background-image: url(../images/dokumentasi/bg-dokumentasi.png);
    -webkit-mask-image: radial-gradient(circle, rgba(85, 37, 37, 0.3) 100%);
    mask-image: radial-gradient(circle, rgba(85, 37, 37, 0.3) 100%);
    margin-bottom: 30px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #ff5e62,
        #ff9966
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #ff5e62,
        #ff9966
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
.slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 30px 90px 30px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.8;
    transition: all 0.3s;
}

.slider-card img {
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1);
    border-radius: 5px;
}
.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-dots {
    text-align: center;
}
.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}
.owl-dots .owl-dot.active {
    background: var(--secondary-color) !important;
}

.owl-nav i {
    color: white;
}

/* Footer */
footer p {
    color: #2b2b28;
    font-size: 22px;
    font-weight: bold;
}

footer h4 {
    color: #121221;
    font-family: "Josefin Sans", sans-serif;
    font-size: 29px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

ul a {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;
}

.copyright-container {
    background-color: var(--primary-color);
    padding-block: 30px;
    margin-right: 0;
}

.copyright-container p {
    color: #fff;
    font-size: 29px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.copyright-container p a {
    color: white;
}

.social-media a {
    text-decoration: none;
}

.social-media p {
    color: var(--primary-color);
}

/* .sosmed {
    background-color: var(--primary-color);
    border-radius: 10px;
} */

.sosmed {
    background-color: var(--primary-color);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
}

.sosmed svg {
    color: #fff;
}

/* Login Page */
#login {
    padding-block: 60px;
    padding-inline: 160px;
    background-image: url("../images/icon/Vector\ 7.svg");

    /* Properti tambahan opsional */
    background-size: cover; /* Menyesuaikan ukuran gambar dengan ukuran kotak elemen */
    background-position: center; /* Posisi gambar latar di tengah elemen */
    background-repeat: no-repeat; /* Mencegah gambar latar terulang */
    z-index: -1;
}

.login-container {
    border-radius: 37px;
    box-shadow: 6px 6px 15px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.login-container .content-kiri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .content-kiri img {
    width: 506px;
}

.login-container .content-kanan {
    border-radius: 37px;
    background-color: #d9aa1e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .content-kanan img {
    width: 193px;
    height: 191px;
}

.login-container .content-kanan h1 {
    font-weight: bold;
    font-size: 43px;
}

.login-container .content-kanan form label {
    font-size: 18px;
    font-weight: bold;
}

.login-container .content-kanan form input {
    border-radius: 37px;
    width: 357px;
    height: 60px;
}

.login-container .content-kanan form .form-text {
    color: white;
    font-size: 18px;
}

.login-container .content-kanan form .form-text a {
    color: white;
}

.login-container .content-kanan .button button {
    background-color: #bf8211;
    color: white;
    border-radius: 37px;
    height: 40px;
    width: 214px;
}

/* .thumbnail {
    position: absolute;
    bottom: 10px;
    left: 40%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
  }
  
  .item {
    width: 719px;
    height: 424px;
    flex-shrink: 0;
    position: relative;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  
  .thumbnail .item .content .title {
    font-weight: bold;
  } */

/* Acara Section */
.acara-container img {
    border-radius: 10px;
    box-shadow: 33px 37px 0px 0px rgba(85, 37, 37, 1);
}

.acara-container .title {
    margin-bottom: 60px;
}

.acara-container .title p {
    margin-top: 30px;
}

.acara-container .content-atas {
    margin-bottom: 90px;
}

.acara-container .content-atas h3,
.acara-container .content-bawah h3 {
    margin-bottom: 50px;
    margin-left: 10px;
}

.acara-container .content-atas p,
.acara-container .content-bawah p {
    margin-bottom: 70px;
}

.acara-container .content-atas button,
.acara-container .content-bawah button {
    color: white;
    font-weight: bold;
    background-color: #124c6b;
    border-radius: 10px;
}

.acara-container .content-bawah img {
    margin-left: 20px;
}

/* Menu Informasi */
#informasi {
    padding-top: 170px;
    padding-bottom: 170px;
}

.shape-bawah {
    background-image: url(../images/shape/bg-shape-informasi.png);
    background-position: bottom right; /* Gambar akan ditempatkan di pojok kanan atas */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
}

#informasi .content {
    padding-left: 90px;
}

#informasi .content hr {
    width: 100%;
    color: black !important;
    background-color: black !important;
    height: 1px !important;
    opacity: 100 !important;
}

#informasi .content-samping {
    padding-right: 90px;
}

#informasi img.berita {
    width: 100%;
    min-height: 424px;
}

#informasi p.description {
    color: #444444;
    font-size: 18px;
}

#informasi .content-samping img {
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
}

#informasi .content-samping p.title {
    font-size: 22px !important;
}

#informasi .content-samping p.date {
    color: #95999e;
    font-size: 14px;
}

#informasi .content-samping button.btn {
    color: #fff;
    background-color: #124c6b;
    margin-bottom: 20px;
    font-weight: 600;
}
/* Menu Informasi End */
