body {
    margin: 0;
}

.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
}

.navbar-vertical.navbar-expand-xs > [class*="container"] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.sidenav .navbar-brand {
    padding: 2rem 2rem;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
    display: block;
}

.navbar .navbar-brand {
    color: #344767;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    color: #fff;
    background-color: #552525;
}

.navbar-vertical .navbar-nav .nav-link.active {
    font-weight: 600;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 5px solid #e59b30;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    margin-left: 1rem;
}

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-vertical .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: #000000;
}

.navbar .nav-link {
    color: #344767;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.nav-link-text,
nav h6,
nav span {
    font-family: "Poppins", sans-serif;
}

.icon-sm {
    width: 32px;
    height: 32px;
}

.fa.fa-bars {
    font-size: 28px;
    font-weight: 100 !important;
}

nav .fa {
    font-weight: 600;
    color: #33363f;
}

@media (min-width: 1200px) {
    .sidenav:hover {
        max-width: 15.625rem;
    }

    .sidenav .sidenav-toggler {
        padding: 1.5rem;
    }

    .sidenav.fixed-start ~ .main-content {
        margin-left: 17.125rem;
    }

    .sidenav.fixed-end ~ .main-content {
        margin-right: 17.125rem;
    }
}
